# {{ ansible_managed }}
#
# Read by systemd (EnvironmentFile) and by the seeder. Contains the database
# password, hence 0640 and root:{{ sd_app_group_name }}.
SD_DB_HOST={{ sd_db_host }}
SD_DB_PORT={{ sd_db_port }}
SD_DB_NAME={{ sd_db_name }}
SD_DB_USER={{ sd_db_user }}
SD_DB_PASSWORD={{ sd_db_password }}
SD_APP_PORT={{ sd_app_port }}
SD_APP_NAME=ZMS Lab Service Desk
SD_SEED_USERS={{ sd_seed_users }}
SD_SEED_TICKETS={{ sd_seed_tickets }}
SD_SEED_DAYS={{ sd_seed_days }}
SD_SEED_RANDOM={{ sd_seed_random }}
PYTHONPATH={{ sd_app_root }}/src
